# Script to combine all the results from

In [1]:
import pandas as pd
import csv

In [2]:
s = pd.read_csv("../data/swbd/Sentence.t2o",sep='\t',
                 header=None,
                names=["TgrepID","Sentence"])

In [7]:
pq = pd.read_csv("../data/swbd/PrecedingQuantifier.t2o",sep='\t',
                 header=None,
                names=["TgrepID"])
pq["PrecedingQuantifier"] = 1

pt = pd.read_csv("../data/swbd/Partitive.t2o",sep='\t',
                 header=None,
                names=["TgrepID"])
pt["Partitive"] = 1

sp = pd.read_csv("../data/swbd/SentenceParse.t2o",sep='\t',
                 header=None,
                names=["TgrepID","SentenceParse"])

In [8]:
df = pd.concat([s,pq,pt,sp],axis=1)

In [9]:
len(df)

4967

In [46]:
# its deleting where it shouldn't...need to fix that

df = pd.merge(s,pq, on='TgrepID').merge(pt, on='TgrepID').merge(sp, on='TgrepID')

In [49]:
len(df)

287

In [50]:
len(s)

4967

In [25]:
dq.head()

Empty DataFrame
Columns: [TgrepID, DoubleQuantifier]
Index: []

In [21]:
df.head()

   TgrepID                                           Sentence
0    41:21  You know , is there something else 0 we could ...
1    53:49  and , um , she had used the walker \[ for , \+...
2    96:19  I mean , for somebody who *T*-1 \[ is , \+ \] ...
3  157:111  I mean , \[ \[ \[ \[ \[ I , \+ I , \] \+ I , \...
4  157:148  I mean , \[ \[ \[ \[ \[ I , \+ I , \] \+ I , \...

In [23]:
df.loc[4]

TgrepID                                               157:148
Sentence    I mean , \[ \[ \[ \[ \[ I , \+ I , \] \+ I , \...
Name: 4, dtype: object